
.header{
    background-color:#f9eaed ;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.banner{
    padding:0 40px 40px 40px ;
    
}
.btn-primary{
border-radius: 5px;
background: #E55473;
border: 0;
color: white;
font-size: 20px;
font-weight:40px;

}
.section title{
    text-align: center ;
}
.greeting {
    font-family: Lato;
    font-size: 80px;
    font-weight:80px;
}
.header.profile-pic{
width: 635px;
height: 800px;
flex-shrink: 0;
}
.body{
    padding:0 140px 147px 140px;
}
.Featured{
padding: 240px;
}
.flowers{
    display: flex;
    align-items: center;
    
}
.tulip{
    background-color: rgba(167, 33, 98, 0.15) ;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 70px 70px 0 70px;

}
.dalia{
    background-color: rgba(5, 151, 160, 0.15);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 70px 70px 0 70px;
}
.rose{
    background-color: rgba(71, 125, 17, 0.15);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    padding: 70px 70px 0 70px;

}
.flowers{
   justify-content: center;
    align-items: center;
    display: flex;
}
.Deal{
    background-color:rgba(229, 84, 115, 0.05) ;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 70px 70px 0 70px;
}